.title {
    margin-top: 9px;
    font-size: 24px;
}

.content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
}

.saveButton {
    margin-right: 8px;
    display: inline;
}

.mobileButton {
    width: 90%;
}

.mobileButtonMargin {
    margin-top: 8px;
    margin-bottom: 8px;
}
