.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f51b5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.homeLink {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 .homeLink:hover {
    background-color: #2d3e9c;
  } 

.settingsLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}  

.settingsLink:hover {
    background-color: #2d3e9c;
}    