@media (min-width: 1025px) {
    .textFields {
        width: 137px;
        margin-left: 5px;
        margin-right: 8px;
    }
    
    .self {
        float: right;
        margin-right: 20px;;
    }
}

@media (max-width: 1024px) {
    .textFields {
       width: 90%;
       margin-top:12px;
    }

}